.App {
  padding: 50px;
  margin: auto;
  max-width: 420px;
}

.App ul{
  list-style: none;
}

.App ul li{
  padding: 4px 0;
  font-size: 28px;
  font-family: Sukhumvit Set;
}

.InputTodo{
  padding: 3px;
  margin-right: 5px;
  font-size: 16px;
}

.AddTodoButton{
  background: teal;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}